.dark-mode{
    background-color: darken($grisOscuro, 10);
    // background-color: $negro;
    p{
        color: $blanco;
    }
    a,h1,h2,h3,h4{
        color: $gris;
    }
    .resumen-propiedad{
        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }
    
    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }
.formulario{
    label, legend, p{
        color: $gris;
    }

    input:not([type="submit"]), //Selector de atributo que indica que el estilo se aplicara a todos los input execto el submit
    textarea,
    select{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        color: $blanco;
    }
}
.propiedades{
    tbody tr td{
        color: $blanco;
        border-top: 0.5px solid $grisOscuro ;
        }

    }
}
